.item {
    width: 100%; /* Set width to 100% to fill the container */
    max-width: 350px; /* Maximum width for larger screens */
    margin: 0 auto; /* Center the item */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.item p {
    margin: 6px;
}

.item-prices {
    display: flex;
    gap: 20px; /* Spacing between price elements */
}

.item-price-new {
    color: #374151; /* New price color */
    font-size: 18px; /* New price font size */
    font-weight: 600; /* New price font weight */
}

.item-price-old {
    color: #8c8c8c; /* Old price color */
    font-size: 18px; /* Old price font size */
    font-weight: 500; /* Old price font weight */
    text-decoration: line-through; /* Strikethrough for old price */
}

.item:hover {
    transform: scale(1.05); /* Scale effect on hover */
    transition: 0.6s; /* Transition duration for scale effect */
}

.item img {
    max-width: 100%; /* Ensures the image doesn't exceed its container */
    height: auto;    /* Maintains the aspect ratio */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .item {
        max-width: 90%; /* Limit max width on tablets and smaller devices */
        margin: 10px auto; /* Add margin for spacing */
    }

    .item-price-new, .item-price-old {
        font-size: 16px; /* Reduce font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .item {
        max-width: 95%; /* Limit max width on very small devices */
    }

    .item-price-new, .item-price-old {
        font-size: 14px; /* Further reduce font size for very small devices */
    }

    .item p {
        margin: 4px; /* Reduce margin for paragraphs on small screens */
    }
}
